VITE_SUPABASE_URL=https://SEU-PROJETO.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=SUA_CHAVE_PUBLISHABLE
VITE_SUPABASE_ANON_KEY=SUA_CHAVE_ANON_PUBLIC
VITE_SUPABASE_PRODUCT_IMAGE_BUCKET=product-images
VITE_APP_URL=http://localhost:5173
